
.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
.titleIndex {
    margin-top:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titleIndex2 {
    font-family: 'Cedarville Cursive', cursive;
}

.bebidasInicio{
    width: 200px;
    filter: drop-shadow(2px 2px 5px #000);
    /* animation: rotar 5s linear infinite; */
}

@keyframes rotar{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(-180deg);
    }
}

@media screen and (min-width: 320px) and (max-width: 500px){
    
    .titleIndex{
        font-size: 20px;
    }
    .titleIndex2{
        font-size: 15px;
        width: 250px;
        margin-top:10px;
    }
    .bebidasInicio{
        width: 100px;
        margin-top: 20px;
    }
}