
html{
  min-height: 100%;
  position: relative;
}

.app{
  --colorPrimario: #d9d9d9;
  --colorSecundario: rgb(255, 194, 25);
  overflow-x: hidden;
  background-image: url("../public/moetFondo.jpg");
  background-size: cover;
  text-decoration: none;
  list-style: none;
}


.body{
  margin: 0;
  margin-bottom: 110px;

}