html{
  min-height: 100%;
  position: relative;
}

.app{
  --colorPrimario: #BCF3E9;
  overflow-x: hidden;
  background-image: url("ibiza.jpg");
  background-size: cover;
  text-decoration: none;
  list-style: none;
  
}


.body{
  margin: 0;
  margin-bottom: 110px;

}